.tiptap {
  :first-child {
    margin-top: 0;
  }
}
.element{
  background-color: #ffffff50;
}
.editor {
    height: 100%;
    width: 100%;
  }
  .editor > div {
    padding: 1rem;
    color: var(--color);
  }
  
  .editor > div:focus-within {
    border-color: transparent;
    outline: transparent;
  }
  /* Heading styles */
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1, 
  h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  h1 { 
    font-size: 1.4rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }
  p{
    font-weight: normal;
  }
  code {
    background-color: hsl(var(--secondary));
    border-radius: 0.4rem;
    color: var(--foreground);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  blockquote {
    border-left: 3px solid hsl(var(--secondary));
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--muted);
    margin: 2rem 0;
  }

  pre{
    background: var(--background);
      border-radius: 0.5rem;
      color: var(--foreground);
      font-family: 'JetBrainsMono', monospace;
      margin: 1.5rem 0;
      padding: 0.75rem 1rem;
  }

  ul, 
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;
      
      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
ul{
  list-style-type: disc;
}
li::marker {
  color: hsl(var(--primary));
}
ol{
  list-style-type: decimal;
}